<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.ManagerMapper">
    <resultMap id="ExamineeWithData" type="com.example.app.model.Examinee">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="date" column="date" />
        <association property="examData" javaType="com.example.app.model.ExamData">
            <id property="id" column="id" />
            <result property="japanese" column="japanese" />
            <result property="math" column="math" />
            <result property="english" column="english" />
            <result property="japanese_history" column="japanese_history" />
            <result property="world_history" column="world_history" />
            <result property="geography" column="geography" />
            <result property="physics" column="physics" />
            <result property="chemistry" column="chemistry" />
            <result property="biology" column="biology" />
        </association>
    </resultMap>
    <select id="findAll" resultType="com.example.app.model.ExamManager">
        SELECT * FROM examinee AS e JOIN exam_data AS ed ON e.id=ed.id ORDER BY date
    </select>
    <insert id="insertExaminee" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO examinee (name, date) VALUES (#{name}, #{date})
    </insert>
    <insert id="insertExamData">
        INSERT INTO exam_data (id, japanese, math, english,
        <choose>
            <when test="societySub == 'japaneseHistory'">
                japanese_history,
            </when>
            <when test="societySub == 'worldHistory'">
                world_history,
            </when>
            <when test="societySub == 'geography'">
                geography,
            </when>
        </choose>
        <choose>
            <when test="scienceSub == 'physics'">
                physics
            </when>
            <when test="scienceSub != 'chemistry'">
                chemistry
            </when>
            <when test="scienceSub != 'biology'">
                biology
            </when>
        </choose>
        ) VALUES (#{id}, #{japanese}, #{math}, #{english}, #{society}, #{science})
    </insert>
    <select id="findUpdatee" resultType="com.example.app.model.ExamManager">
        SELECT * FROM examinee AS e JOIN exam_data AS ed ON e.id=ed.id WHERE e.id=#{id}
    </select>
    <update id="updateExaminee">
        UPDATE examinee
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="date != null">
                date=#{date},
            </if>
        </set>
        WHERE id=#{id}
    </update>
    <update id="updateExamData">
        UPDATE exam_data
        <set>
            <if test="japanese != null">
                japanese=#{japanese},
            </if>
            <if test="math != null">
                math=#{math},
            </if>
            <if test="english != null">
                english=#{english},
            </if>
            <choose>
                <when test="societySub == 'japaneseHistory'">
                    japanese_history=#{society},
                    world_history=null,
                    geography=null,
                </when>
                <when test="societySub == 'worldHistory'">
                    japanese_history=null,
                    world_history=#{society},
                    geography=null,
                </when>
                <when test="societySub == 'geography'">
                    japanese_history=null,
                    world_history=null,
                    geography=#{society},
                </when>
                <otherwise>
                    japanese_history=null,
                    world_history=null,
                    geography=null,
                </otherwise>
            </choose>
            <choose>
                <when test="scienceSub == 'physics'">
                    physics=#{science},
                    chemistry=null,
                    biology=null,
                </when>
                <when test="scienceSub != 'chemistry'">
                    physics=null,
                    chemistry=#{science},
                    biology=null,
                </when>
                <when test="scienceSub != 'biology'">
                    physics=null,
                    chemistry=null,
                    biology=#{science},
                </when>
                <otherwise>
                    physics=null,
                    chemistry=null,
                    biology=null,
                </otherwise>
            </choose>
        </set>
        WHERE id=#{id}
    </update>
    <delete id="deleteOneExaminee">
        DELETE FROM examinee WHERE id=#{id}
    </delete>
    <delete id="deleteOneExamData">
        DELETE FROM exam_data WHERE id=#{id}
    </delete>
    <delete id="deleteName">
        DELETE FROM examinee AS e JOIN exam_data AS ed ON e.id=ed.id WHERE name=#{name}
    </delete>
</mapper>